@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using NirvanaHealth.Fhir.Permissions
@using NirvanaHealth.Fhir.Web.Pages.Fhir.BenefitPlans
@using NirvanaHealth.Fhir.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using NirvanaHealth.Fhir.Localization
@inject IHtmlLocalizer<FhirResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["BenefitPlans"].Value;
    PageLayout.Content.MenuItemName = FhirMenus.BenefitPlans;
}

@section scripts
{
    <abp-script src="/Pages/Fhir/BenefitPlans/index.js" />
}

@section content_toolbar {
    @if (await Authorization.IsGrantedAsync(FhirPermissions.BenefitPlans.Create))
    {
        <abp-button id="NewBenefitPlanButton" text="@L["NewBenefitPlan"].Value" icon="plus" button-type="Primary" />
    }
}

<abp-card>
    <abp-card-body>
		<abp-row class="mb-3">
            <abp-column size-md="_12">
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]"/>
                        <abp-button button-type="Primary" type="submit" icon="search"/>
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_12" class="mt-3">
                <a href="javascript:;" id="AdvancedFilterSectionToggler" class="text-decoration-none">@L["SeeAdvancedFilters"]</a>
            </abp-column>
        </abp-row>

        <abp-row id="AdvancedFilterSection" style="display: none;">
            <abp-column size="_3">
                <abp-input asp-for="BenefitPlan_IDFilterMin" label="@L["MinBenefitPlan_ID"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="BenefitPlan_IDFilterMax" label="@L["MaxBenefitPlan_ID"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="BenefitNameFilter" label="@L["BenefitName"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="BenefitCodeFilter" label="@L["BenefitCode"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="DescriptionFilter" label="@L["Description"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="VersionNbrFilter" label="@L["VersionNbr"].Value" />
            </abp-column>
        </abp-row>

        <abp-table striped-rows="true" id="BenefitPlansTable">
            <thead>
				<tr>
					<th>@L["Actions"]</th>
					<th>@L["BenefitPlan_ID"]</th>
					<th>@L["BenefitName"]</th>
					<th>@L["BenefitCode"]</th>
					<th>@L["Description"]</th>
					<th>@L["VersionNbr"]</th>

				</tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>