@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using NirvanaHealth.Fhir.Permissions
@using NirvanaHealth.Fhir.Web.Pages.Fhir.MbrEnrollDetails
@using NirvanaHealth.Fhir.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using NirvanaHealth.Fhir.Localization
@inject IHtmlLocalizer<FhirResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["MbrEnrollDetails"].Value;
    PageLayout.Content.MenuItemName = FhirMenus.MbrEnrollDetails;
}

@section scripts
{
    <abp-script src="/Pages/Fhir/MbrEnrollDetails/index.js" />
}

@section content_toolbar {
    @if (await Authorization.IsGrantedAsync(FhirPermissions.MbrEnrollDetails.Create))
    {
        <abp-button id="NewMbrEnrollDetailButton" text="@L["NewMbrEnrollDetail"].Value" icon="plus" button-type="Primary" />
    }
}

<abp-card>
    <abp-card-body>
		<abp-row class="mb-3">
            <abp-column size-md="_12">
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]"/>
                        <abp-button button-type="Primary" type="submit" icon="search"/>
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_12" class="mt-3">
                <a href="javascript:;" id="AdvancedFilterSectionToggler" class="text-decoration-none">@L["SeeAdvancedFilters"]</a>
            </abp-column>
        </abp-row>

        <abp-row id="AdvancedFilterSection" style="display: none;">
            <abp-column size="_3">
                <abp-input asp-for="MbrEnrollDetail_IDFilterMin" label="@L["MinMbrEnrollDetail_ID"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="MbrEnrollDetail_IDFilterMax" label="@L["MaxMbrEnrollDetail_ID"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="MCPMember_IDFilterMin" label="@L["MinMCPMember_ID"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="MCPMember_IDFilterMax" label="@L["MaxMCPMember_ID"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="BenefitPlan_IDFilterMin" label="@L["MinBenefitPlan_ID"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="BenefitPlan_IDFilterMax" label="@L["MaxBenefitPlan_ID"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="Member_IDFilter" label="@L["Member_ID"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="Subscriber_IDFilter" label="@L["Subscriber_ID"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="PersonCodeFilter" label="@L["PersonCode"].Value" />
            </abp-column>
        </abp-row>

        <abp-table striped-rows="true" id="MbrEnrollDetailsTable">
            <thead>
				<tr>
					<th>@L["Actions"]</th>
					<th>@L["MbrEnrollDetail_ID"]</th>
					<th>@L["MCPMember_ID"]</th>
					<th>@L["BenefitPlan_ID"]</th>
					<th>@L["Member_ID"]</th>
					<th>@L["Subscriber_ID"]</th>
					<th>@L["PersonCode"]</th>

				</tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>